section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    height: 109px;
    background-color: #141c2e;
}

img {
    height: 35px;
    cursor: pointer;
}

div {
    display: flex;
    gap: 29px;
    >a {
        cursor: pointer;
        font-size: 23px;
    }
    >a:hover {
        color: #70e61c;
    }
}

