section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    height: 109px;
    background-color: #141c2e;
}

img {
    height: 35px;
    cursor: pointer;
}

div {
    display: flex;
    align-items: center;
    gap: 29px;

    >a {
        cursor: pointer;
        font-size: 23px;
        text-decoration: none;
    }

    >a:hover {
        color: #70e61c;
    }

    img {
        border-radius: 4px;
        height: auto;
        width: 50px;
        transition: all 125ms ease-in;
        filter: grayscale(0);
    }
}

.inactiveLang {
    filter: grayscale(1);
    transition: all 125ms ease-in;
}