section {
    background-color: #141c2e;
    z-index: 3;
    
    .green-line {
        position: absolute;
        left: -56px;
        height: 0px;
        transition: all 125ms ease-in-out;
       
    }

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 290px;
    }
}

.logo {
    cursor: pointer;
}

.navArrow {
        position: absolute;
        right: 100px;
        margin-top: -92px;
        z-index: 3;
    
        &:hover {
            filter: invert(38%) sepia(78%) saturate(499%) hue-rotate(75deg) brightness(91%) contrast(100%);
            cursor: pointer;
        }
    }

hr {
    width: calc(100% + 200px);
    margin-left: -100px;
    height: 4px;
    background-color: #70e61c;
    border: none;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    width: 190px;

    img {
        cursor: pointer;
        height: 30px;
        transition: height 125ms ease-in-out;
    }

    img:hover {
        transition: height 125ms ease-in-out;
        height: 40px;
    }
}

.legal {
    display: block;
    position: relative;
    bottom: -171px;
    height: 0px;
    font-size: 16px;
    cursor: pointer;

    &:hover .green-line {
        left: 0;
        width: 56px;
        border: solid 1px #70e61c;
    }
}

@media screen and (max-width:914px) {
    hr {
        width: 100%;
        margin-left: 0;
    }

    .navArrow {
        right: 25px;
    }

    section {
        >div {
            flex-direction: column;
            justify-content: space-evenly;
            height: 380px;
        }
    }

    .legal {
        position: relative;
        justify-self: center;
        top: 320px;
    }

    .social {
        height: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width:375px) {
    .logo {
        width: 300px;
    }
}