<section class="sec-pad">

    <a class="navArrow" href="#">
        <img src="../../assets/img/icons/arrowUp.png">
    </a>

    <hr>
    <a href="/impressum" class="legal">Legal Notice<div class="green-line"></div></a>

    <div>
        <div>
            <a href="#"><img class="logo" src="../../assets/img/icons/AlexanderLogo.png"></a>
        </div>



        <div>© Alexander Hardtke 2024</div>

        <div class="social">
            <a href="https://github.com/AlexanderHardtke"><img src="../../assets/img/icons/github.png"></a>
            <a href="#contact"><img src="../../assets/img/icons/mail.png"></a>
            <a href="https://www.linkedin.com/in/alexander-hardtke-89b0172b9/"><img src="../../assets/img/icons/linkedIn.png"></a>
        </div>
    </div>
</section>