<section class="secPad">

    <a href="#index" class="navArrow">
        <img src="../../assets/img/icons/arrowUp.png">
    </a>

    <hr>
    @if (portData.lang == "en") {
    <a (click)="goToLegal()" class="legal">Legal Notice<div class="green-line"></div></a>
    } @else {
    <a (click)="goToLegal()" class="legal">Impressum<div class="green-line"></div></a>
    }

    <div>
        <div>
            <a (click)="goToMainContent('#index')"><img class="logo" src="../../assets/img/icons/AlexanderLogo.png"></a>
        </div>


        <div class="copyright">
            © Alexander Hardtke 2024
            <img src="../../assets/img/background/signature.png">
        </div>

        <div class="social">
            <a href="https://github.com/AlexanderHardtke" target="_blank"><img src="../../assets/img/icons/github.png"></a>
            <a href="#contact"><img src="../../assets/img/icons/mail.png"></a>
            <a href="https://www.linkedin.com/in/alexander-hardtke-89b0172b9/" target="_blank"><img
                    src="../../assets/img/icons/linkedIn.png"></a>
        </div>
    </div>
</section>