section {
    background-color: #141c2e;
    position: relative;
    z-index: 3;

    .green-line {
        position: absolute;
        left: -56px;
        height: 0px;
        transition: all 125ms ease-in-out;
    }

    >div:nth-child(2) {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
    }

    >div:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 290px;
        max-width: 1920px;
        margin: 0 auto;
    }
}

.logo {
    cursor: pointer;
}

.navArrow {
    position: absolute;
    right: 0;
    top: -92px;
    z-index: 3;

    &:hover {
        filter: invert(38%) sepia(78%) saturate(499%) hue-rotate(75deg) brightness(91%) contrast(100%);
        cursor: pointer;
    }
}

hr {
    width: calc(100% + 200px);
    margin-left: -100px;
    height: 4px;
    background-color: #70e61c;
    border: none;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    width: 190px;

    img {
        cursor: pointer;
        height: 30px;
        transition: height 125ms ease-in-out;
    }

    img:hover {
        transition: height 125ms ease-in-out;
        height: 40px;
    }
}

.legal {
    position: absolute;
    bottom: -171px;
    height: 0px;
    cursor: pointer;

    &:hover .green-line {
        left: 0;
        width: 56px;
        border: solid 1px #70e61c;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    >img {
        width: 400px;
    }
}

@media screen and (max-width:1140px) {
    .logo {
        width: 230px;
    }

    .copyright {
        >img {
            width: 300px;
        }
    }

    .legal {
        bottom: -161px;
    }
}

@media screen and (max-width:914px) {
    hr {
        width: 100%;
        margin-left: 0;
    }

    .navArrow {
        right: 25px;
    }

    section {
        >div:nth-child(3) {
            flex-direction: column;
            justify-content: space-evenly;
            height: 380px;
        }

        .green-line {
            position: relative;
            margin-left: calc(50vw - 54px);
        }
    }

    .legal {
        top: 110px;
        width: 100%;
        text-align: center;
    }

    .social {
        height: 40px;
        padding-bottom: 40px;
    }

    .logo {
        width: 300px;
    }
}

@media screen and (min-width: 1921px) {
    section {
        margin-left: calc(960px - 50vw);
        margin-right: calc(960px - 50vw);
    }
}