<section class="sec-pad">
    
    <aside id="aboutMe"></aside>
    <div class="aboutMe">
        <img class="hero" src="../../assets/img/background/heroBackground.png">
        @if (portData.lang == "en") {
        <h1>About me</h1>
        <div>
            <p>Hi there, i am a frontend developer near Heidenheim in the process to moving to the beautiful Augsburg.
                Motivated by a fascination and the possibilities in the IT area i am looking for a new job.</p>
        </div>

        <div>
            <var><img src="../../assets/img/icons/locationBlue.png"></var>
            <p>Flexible in terms of working environments, I can work effectively both on-site near Augsburg or remotely.
            </p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/lightbulbBlue.png"></var>
            <p>I am open for new technologies and always looking for new personal challenges to improve my knowledge and
                skills.
            </p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/puzzleBlue.png"></var>
            <p>In my profession, programming isn't just about writing code; it's a creative form of problem-solving and
                improving processes.
            </p>

        </div>
        } @else {
        <h1>Über mich</h1>
        <div>
            <p>Hallo, ich bin ein Frontend-Entwickler in Heidenheim der demnächst in das schöne Augsburg zieht.
                Motiviert
                durch eine Faszination im Bereich der Möglichkeiten in der IT.</p>
        </div>

        <div>
            <var><img src="../../assets/img/icons/locationBlue.png"></var>
            <p>In meinem Arbeitsbereich bin ich flexibel. Ich kann effektiv in der Nähe von Augsburg aus am Standort
                oder von zuhause aus arbeiten.</p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/lightbulbBlue.png"></var>
            <p>Ich bin technologieoffen und immer auf der Suche nach persönlichen Herausforderungen um mich selbst
                weiter zu entwickeln und mein Wissen zu erweitern.</p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/puzzleBlue.png"></var>
            <p>In meiner Berufung als Programmierer geht es nicht nur darum Code zu schreiben sondern eine kreative Art
                Probleme zu lösen und Prozesse zu verbessern.</p>

        </div>
        }

    </div>
    <img class="profile" src="../../assets/img/Alex1.png">
    <img class="profileOverlap" src="../../assets/img/Alex2.png">
</section>