.profile {
    position: absolute;
    max-width: 45%;
    max-height: 80%;
    right: 0;
    z-index: 2;
    bottom: 120px;
}

.profileOverlap{
    position: absolute;
    max-width: 45%;
    max-height: 80%;
    right: 0;
    z-index: 8;
    bottom: 120px;
}

section {
    background-color: #141c2e;
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    min-height: calc(100vh - 109px)
}

.about-me {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    z-index: 3;

    >div {
        display: flex;
        align-items: center;
        
        >var {
            height: 48px;
            min-width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 26px;

            >img {
                height: 32px;
                transition: all 150ms ease-in-out;
            }
    
            >img:hover {
                height: 48px;
                transition: all 150ms ease-in-out;
            }
        }
    }
}