h1 {
    font-size: 90px;
}

section {
    background-color: #141c2e;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: calc(100% - 200px);
    >img {
        position: absolute;
        top: 520px;
        width: calc(100% + 200px);
        margin-left: -100px;
    }
}

.about-me {
    width: 471px;
}

p {
    >img{
        width: 30px;
    }
}