<section class="sec-pad">
    <aside id="aboutMe"></aside>

    <div class="about-me">
        @if (portData.lang == "en") {
        <h1>About me</h1>
        <div>
            <p>Hi, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, perspiciatis id sed beatae
                doloribus
                sunt?</p>
        </div>

        <div>
            <var><img src="../../assets/img/icons/locationBlue.png"></var>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Tenetur excepturi ea libero! Facilis quas delectus mollitia no</p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/lightbulbBlue.png"></var>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Ne.</p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/puzzleBlue.png"></var>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing
                elit.
                Blanditiis expedita accusantium illo? Qui sit earum possimus eius quos aliquam ducimus explicabo,
                inventore
                autem nesciunt amet eos repellendus.</p>

        </div>
        } @else {
            <h1>Über mich</h1>
        <div>
            <p>Hi, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, perspiciatis id sed beatae
                doloribus
                sunt?</p>
        </div>

        <div>
            <var><img src="../../assets/img/icons/locationBlue.png"></var>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Tenetur excepturi ea libero! Facilis quas delectus mollitia no</p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/lightbulbBlue.png"></var>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Ne.</p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/puzzleBlue.png"></var>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing
                elit.
                Blanditiis expedita accusantium illo? Qui sit earum possimus eius quos aliquam ducimus explicabo,
                inventore
                autem nesciunt amet eos repellendus.</p>

        </div>
        }
        <img class="profile" src="../../assets/img/file.png">
    </div>
</section>