<section class="sec-pad">

    <div class="about-me">
        <h1>About me</h1>
        <div>
            <p>Hi, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, perspiciatis id sed beatae
                doloribus
                blanditiis accusamus iusto incidunt labore at, dolore repellendus voluptates ullam ut autem et nemo
                possimus
                sunt?</p>

            <p><img src="../../assets/img/icons/locationGreen.png">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Tenetur excepturi ea libero! Facilis quas delectus mollitia nobis vitae ducimus laboriosam unde
                necessitatibus quam molestias dolorum, iusto iure in error excepturi.</p>
            <p><img src="../../assets/img/icons/lightbulbGreen.png">Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Nesciunt assumenda atque, nam molestiae doloremque vero ipsam, inventore, vitae qui ex
                praesentium!
                Corporis accusantium odit eligendi perferendis quis beatae sunt itaque.</p>
            <p><img src="../../assets/img/icons/puzzleGreen.png">Lorem ipsum dolor, sit amet consectetur adipisicing
                elit.
                Blanditiis expedita accusantium illo? Qui sit earum possimus eius quos aliquam ducimus explicabo,
                inventore
                autem nesciunt amet eos repellendus sunt minima perspiciatis.</p>

        </div>
    </div>
    <img src="../../assets/img/background/heroBackground.png">
</section>