<div class="heroBig">
    <img src="../../assets/img/background/heroBackground.png">
</div>
<section class="secPad">

    <div class="profileContainer">
        <img class="profile" src="../../assets/img/Alex1.png">
        <img class="profile profileOverlap" src="../../assets/img/Alex2.png">
        <img class="hero" src="../../assets/img/background/heroBackground.png">
    </div>


    <div class="aboutMe" data-aos="fade-right">
        <aside id="aboutMe"></aside>
        @if (portData.lang == "en") {
        <h1>About me</h1>
        <div>
            <p>Hi there, as a certified frontend developer, my focus is not just on writing code but on finding creative ways to solve problems and optimize processes.</p>
        </div>

        <div>
            <var><img src="../../assets/img/icons/locationBlue.png"></var>
            <p>Originally based in Heidenheim, I recently moved to the beautiful city of Augsburg.
            </p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/lightbulbBlue.png"></var>
            <p>I am passionate about technology, continuously improving my skills, and bringing a solution-oriented mindset to my work.
            </p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/puzzleBlue.png"></var>
            <p>Why software development? Because I am fascinated by improving processes and creating user-friendly experiences.
            </p>

        </div>
        } @else {
        <h1>Über mich</h1>
        <div>
            <p>Hallo, als zertifizierter Frontend-Entwickler geht es mir nicht nur darum Code zu schreiben, sondern um
                eine kreative Art Probleme zu lösen und Prozesse zu verbessern.</p>
        </div>

        <div>
            <var><img src="../../assets/img/icons/locationBlue.png"></var>
            <p>Ursprünglich in Heidenheim ansässig bin ich jedoch vor kurzem ins schöne Augsburg gezogen.</p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/lightbulbBlue.png"></var>
            <p>Ich bin technologiebegeistert, entwickle mich kontinuierlich weiter und bringe eine lösungsorientierte Denkweise mit.</p>
        </div>
        <div>
            <var><img src="../../assets/img/icons/puzzleBlue.png"></var>
            <p>Warum Softwareentwicklung? Es fasziniert mich Prozesse zu verbessern und Nutzerfreundlich zu gestalten.</p>
        </div>
        }

    </div>

</section>