section {
    background-color: #141c2e;
    background-image: url(../../assets/img/background/shadows8.png);
    background-repeat: no-repeat;
    background-position: 60vw -36px;
    min-height: 1120px;
    z-index: 2;

    >div {
        display: flex;
        justify-content: space-between;

        >div {
            width: 45%;
        }
    }
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    >input {
        width: calc(100% - 50px);
        border: solid 1px #9747ff;
        border-radius: 10px;
        background-color: #141c2e;
        font-size: 16px;
        height: 50px;
        padding-left: 25px;
        padding-right: 25px;
    }

    >textarea {
        width: calc(100% - 50px);
        border: solid 1px #9747ff;
        border-radius: 10px;
        background-color: #141c2e;
        font-size: 16px;
        height: 202px;
        resize: none;
        resize: vertical;
        max-height: 360px;
        padding: 15px 25px 15px 25px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    >hr {
        position: absolute;
        right: 0;
        border: 2px solid #70e61c;
        width: calc(50% - 222px);
    }
}

label {
    font-size: 14px;

    >input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    >a {
        font-size: 14px;
        color: #9747ff;
        cursor: pointer;
    }

    >a:hover {
        text-decoration: underline;
    }
}

button {
    background-color: #70E61C;
    color: white;
    height: 58px;
    width: 253px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms ease-out;
    border: none;

    &:hover {
        transition: all 250ms ease-in;
        width: 275px;
        height: 64px;
        background-color: #9747ff;
    }
}

img {
    position: absolute;
    right: 100px;
    margin-top: 48px;

    &:hover {
        filter: invert(38%) sepia(78%) saturate(499%) hue-rotate(75deg) brightness(91%) contrast(100%);
        cursor: pointer;
    }
}