<section class="sec-pad">

    <h1>Contact
        <hr>
    </h1>

    <div>
        <div>
            <h2>Got a problem to solve?</h2>

            <p>Contact me through this form, i am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.</p>

            <p>Need a Frontend developer?<b> Contact me!</b></p>
        </div>

        <form>
            <input type="text" minlength="4" placeholder="Your name">
            <input type="email" placeholder="Your email">
            <textarea placeholder="Your message"></textarea>
            <label for="policy"><input type="checkbox" id="policy">I've read the <a>privacy policy</a> and agree to the processong of my data as outlined</label>
            <button>Send message :)</button>
        </form>

        <img src="../../assets/img/icons/arrowUp.png">
    </div>

</section>