<section class="sec-pad">

    <div>
        <h1>Contact</h1>
        <hr>
    </div>

    <div>
        <h2>Got a problem to solve?</h2>

        <p>Contact me through this form, i am interested in hearing from you, knowing your ideas and contributing to
            your projects with my work.</p>

            <p>Need a Frontend developer?<b>Contact me!</b></p>
    </div>

    <form>
        <input>
        <input>
        <textarea></textarea>
        
        <button>Send message :)</button>
    </form>
</section>