<section class="secPad">

    <div class="index" id="index"></div>

    <div class="shadows">
        <img class="purpleShadow" src="../../assets/img/background/shadow2.png">
        <img class="blueShadow" src="../../assets/img/background/shadow9.png">
    </div>

    @if (portData.lang == "en") {
    <div class="btnDiv">
        <div class="dFlexCenter">
            <p>I am</p>
            <div class="intro">
                <h1>Alexander Hardtke</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
        </div>

        <var>
            <a class="dFlexCenter" href="#contact">Let's talk!</a>
        </var>
    </div>

    } @else {
    <div class="btnDiv">
        <div class="dFlexCenter">
            <p>Ich bin</p>
            <div class="intro">
                <h1>Alexander Hardtke</h1>
                <h2>FRONTEND ENTWICKLER</h2>
            </div>
        </div>

        <var>
            <a class="dFlexCenter" href="#contact">Reden wir!</a>
        </var>
    </div>
    }


    <div class="socialMedia">
        <hr>
        <div>
            <a href="https://github.com/AlexanderHardtke" target="_blank"><img
                    src="../../assets/img/icons/github.png"></a>
            <a href="#contact"><img src="../../assets/img/icons/mail.png"></a>
            <a href="https://www.linkedin.com/in/alexander-hardtke-89b0172b9/" target="_blank"><img
                    src="../../assets/img/icons/linkedIn.png"></a>
        </div>
    </div>

    <div class="scroll">
        <span>Scroll down</span>
        <img src="../../assets/img/icons/arrowDown.png">
    </div>

</section>