<section class="sec-pad">
    <aside id="portfolio"></aside>
    
    <h1>
        <hr>Portfolio
    </h1>

    <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>

        <app-project></app-project>

    <img class="green-shadow" src="../../assets/img/background/shadow3.png">

    <div>

        <div class="feedback">

            <img class="quote-img" src="../../assets/img/icons/“.png">

            <div class="purple-box">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium maxime illo deserunt impedit ea
                    quas
                    recusandae! Unde, recusandae rem placeat aliquam fuga distinctio totam vero! Iste voluptatum dolor
                    voluptatem veritatis.
                </p>

                <div class="signature">
                    <hr>
                    <p>Signature</p>
                </div>

            </div>

            <div class="evaluator-img">
                <img src="../../assets/img/PA150252.JPG">
                <hr>
            </div>

        </div>


        <nav>
            <img src="../../assets/img/icons/arrow_back_purple.png">
            <h3>&bull;</h3>
            <h3>&bull;</h3>
            <h3>&bull;</h3>
            <img src="../../assets/img/icons/arrow_forward_purple.png">
        </nav>


    </div>
</section>