section {
    background-color: #141c2e;
    width: calc(100% - 200px);
    min-height: calc(100vh - 20px);
    position: relative;
    display: flex;
    overflow-x: clip;
    padding-top: 20px;

    >div{
        padding-bottom: 100px;
    }
}

.hero {
    position: absolute;
    top: -300px;
    width: 100%;
    height: 60vh;
    margin-left: -100px;
    z-index: 2;
}

.blue-shadow {
    position: absolute;
    right: -420px;
    top: 750px;
    margin-left: -100px;
    z-index: 0;
}

.icons {
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 2;
    gap: 80px;
    height: 645px;
}

.skills {
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 2;
    padding-left: 80px;
    gap: 1px;
    width: 80%;
    gap: 40px;

    h1 {
        display: flex;
        align-items: center;
        width: 100%;
    }

    h2 {
        font-size: 32px;
    }

    strong {
        font-size: 32px;
        color: #9747ff;
    }

    hr {
        border: 2px solid #1CDAE6;
        width: 100%;
        position: relative;
        left: 100px;
        margin-left: -68px;
    }
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 101px;

    >p {
        margin-top: 10px;
        text-align: center;
    }
}

.cont-learn {
    align-self: flex-end;
    position: absolute;
}

a {
    background-color: #70E61C;
    color: white;
    height: 58px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-out;
    border: none;

    &:hover {
        transition: all 200ms ease-in;
        width: 220px;
        height: 64px;
        background-color: #9747ff;
    }
}

p {
    font-size: 16px;
}