<section class="sec-pad">
    <aside id="skills"></aside>
    <img class="hero" src="../../assets/img/background/heroBackground.png">

    <div class="icons">
        <div class="icon">
            <img src="../../assets/img/icons/html.png">
            <p>HTML</p>
        </div>
        <div class="icon">
            <img src="../../assets/img/icons/CSS.png">
            <p>CSS</p>
        </div>
        <div class="icon">
            <img src="../../assets/img/icons/javaScript.png">
            <p>JavaScript</p>
        </div>
        <div class="icon">
            <img src="../../assets/img/icons/typeScript.png">
            <p>TypeScript</p>
        </div>
        <div class="icon">
            <img src="../../assets/img/icons/angular.png">
            <p>Angular</p>
        </div>
        <div class="icon">
            <img src="../../assets/img/icons/firebase.png">
            <p>Firebase</p>
        </div>
        <div class="icon">
            <img src="../../assets/img/icons/git.png">
            <p>GIT</p>
        </div>
        <div class="icon">
            <img src="../../assets/img/icons/scrum.png">
            <p>SCRUM</p>
        </div>
        <div class="icon">
            <img src="../../assets/img/icons/materialDesign.png">
            <p>Material Design</p>
        </div>

        <div class="icon cont-learn">
            <img src="../../assets/img/icons/cont_learning.png">
            <p>Continually learning</p>
        </div>
    </div>


    <div class="skills">
        <h1>Skills
            <hr>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore similique voluptatibus placeat ex incidunt.
            Ea excepturi accusamus rerum sapiente repudiandae amet adipisci, blanditiis veniam distinctio ipsa, nulla
            dolor ipsum vitae?</p>
        @if (portData.lang == "en") {
        <h2>Looking for <strong>another skill</strong>?</h2>
        <p>Feel free to contact me. I look forward to expanding my horizon.</p>
        <a class="dFlexCenter" href="#contact">Get in touch</a>
        } @else {
        <h2>Looking for <strong>another skill</strong>?</h2>
        <p>Feel free to contact me. I look forward to expanding my horizon.</p>
        <a class="dFlexCenter" href="#contact">Get in touch</a>
        }
    </div>

    <img class="blue-shadow" src="../../assets/img/background/shadow6.png">
</section>