<section #skills class="sec-pad">
    <aside id="skills"></aside>
    <img class="hero" src="../../assets/img/background/heroBackground.png">

    <div>

        <div class="icons">
            <div class="icon">
                <img src="../../assets/img/icons/html.png">
                <p>HTML</p>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/CSS.png">
                <p>CSS</p>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/javaScript.png">
                <p>JavaScript</p>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/typeScript.png">
                <p>TypeScript</p>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/angular.png">
                <p>Angular</p>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/firebase.png">
                <p>Firebase</p>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/git.png">
                <p>GIT</p>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/scrum.png">
                <p>SCRUM</p>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/materialDesign.png">
                <p>Material Design</p>
            </div>
            <div class="contLearnResponsive">
                <div>
                    <span>I have a special interest in learning
                        <p class="logo">
                            <img src="../../assets/img/icons/python-logo-only.png">
                            <b>Python</b>
                        </p>
                    </span>
                    <img src="../../assets/img/icons/Vector 8.png">
                </div>
                <img src="../../assets/img/icons/cont_learning.png">
                <p>Continually learning</p>
            </div>
        </div>
        <div class="contLearn">
            <div>
                <span>I have a special interest in learning
                    <p class="logo">
                        <img src="../../assets/img/icons/python-logo-only.png">
                        <b>Python</b>
                    </p>
                </span>
                <img src="../../assets/img/icons/Vector 8.png">
            </div>
            <img src="../../assets/img/icons/cont_learning.png">
            <p>Continually learning</p>
        </div>

    </div>

    <h1>Skills
        <hr>
        @if (portData.lang == "en") {
        <p>I have gained experience in building projects with various front end technologies and concepts.</p>
        } @else {
        <p>Ich habe Erfahrung im Bauen von Projekten mit folgenden Frontend-Technologien und Konzepten gesammelt.</p>
        }
    </h1>

    <div class="skills">


        @if (portData.lang == "en") {
        <p class="myJourney">My journey has involved working on a vaiety of projects, employing a range of frontend technologies and
            concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and
            stay ahead in the ever-evolvong landscape of web developement.</p>
        <h2>Looking for <strong>another skill</strong>?</h2>
        <p>Feel free to contact me. I look forward to expanding my horizon.</p>
        <a class="dFlexCenter" href="#contact">Get in touch</a>
        } @else {
        <p class="myJourney">Meine Reise in der IT beinhaltete die Arbeit an einer Vielzahl von Projekten, bei denen ich eine Reihe von
            Frontend-Technologien und Konzepten einsetzte. Ich bin offen für neue Technologien und Methoden, um meine
            Fähigkeiten kontinuierlich zu verbessern und mich im ständig entwickelnden Bereich der Webentwicklung auf
            dem neuesten Stand zu halten.</p>
        <h2>Brauchen sie <strong>einen anderen Skill</strong>?</h2>
        <p>Kontaktieren Sie mich gerne. Ich freue mich darauf, meinen Horizont zu erweitern.</p>
        <a class="dFlexCenter" href="#contact">Kontaktaufnahme</a>
        }
    </div>

    <img #blueShadow class="blueShadow" src="../../assets/img/background/shadow6.png">
</section>