section {
    background-color: #141c2e;
    width: calc(100% - 200px);
    min-height: calc(100vh - 129px);
    position: relative;
    display: flex;
    overflow-x: clip;
    padding-top: 20px;

    >div {
        padding-bottom: 100px;
    }
}

aside {
    margin-top: -129px;
}

.hero {
    position: absolute;
    top: -300px;
    width: 100%;
    height: 60vh;
    margin-left: -100px;
    z-index: 3;
}

.blue-shadow {
    position: absolute;
    right: -620px;
    top: 600px;
    margin-left: -100px;
    z-index: 0;
    transition: right 600ms ease-in-out;
}

.blue-shadow.active {
    right: -420px;
}

.icons {
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 3;
    gap: 80px;
    max-height: 645px;
}

.skills {
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 3;
    padding-left: 80px;
    gap: 1px;
    width: 80%;
    gap: 40px;

    h1 {
        display: flex;
        align-items: center;
        width: 100%;
    }

    h2 {
        font-size: 32px;
    }

    strong {
        font-size: 32px;
        color: #9747ff;
    }

    hr {
        border: 2px solid #1CDAE6;
        width: 100%;
        position: relative;
        left: 100px;
        margin-left: -68px;
    }
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 101px;

    >p {
        margin-top: 10px;
        text-align: center;
    }

    >img {
        transition-duration: 200ms;
    }

    >img:hover {
        transform: translateY(-12px);
    }
}

.cont-learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 101px;
    margin-top: 80px;
    position: relative;

    >div {
        position: absolute;
        width: 188px;
        height: 112px;
        background-color: white;
        border-radius: 20px;
        top: -121px;
        left: 6px;
        z-index: 4;
        display: none;

        >img {
            width: 32px;
            position: inherit;
            left: 30px;
        }

        >span {
            padding: 4px;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            text-align: center;
        }
    }

    >p {
        margin-top: 10px;
        text-align: center;
    }
}

.cont-learn:hover {
    >div{
        display: block;
    }

    >img {
        transition-duration: 200ms;
    }

    >img:hover {
        filter: invert(44%) brightness(210%);
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;

    >b {
        color: black;
        font-size: 12px;
    }

    >img {
        padding-top: 4px;
        height: 32px;
    }
}

a {
    background-color: #70E61C;
    color: white;
    height: 58px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-out;
    border: none;
    text-decoration: none;
    font-size: 23px;

    &:hover {
        transition: all 200ms ease-in;
        width: 240px;
        height: 64px;
        background-color: #9747ff;
    }
}

p {
    font-size: 16px;
    width: 100%;
}

@media screen and (max-width:914px) {
    section {
        width: 100%;
        padding-top: 120px;
    }

    .hero {
        display: none;
    }

    h1 {
        font-size: 45px;
        padding-left: 24px;
        padding-right: 24px;
    }
}