section {
    background-color: #141c2e;
    width: calc(100% - 200px);
    min-height: 780px;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow-x: clip;
    padding-top: 40px;

    >div {
        padding-bottom: 100px;
    }
}

aside {
    margin-top: -129px;
}

.hero {
    position: absolute;
    top: -250px;
    width: 100%;
    height: calc(40vh - 6vw);
    margin-left: -100px;
    z-index: 3;
}

.blueShadow {
    position: absolute;
    right: -620px;
    top: 600px;
    margin-left: -100px;
    z-index: 0;
    transition: right 600ms ease-in-out;
}

.blueShadow.active {
    right: -420px;
}

.icons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    gap: 80px;
    max-height: 645px;
    max-width: 750px;
}

.skills {
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 3;
    padding-left: 80px;
    max-width: 426px;
    gap: 40px;

    h2 {
        font-size: 32px;
    }

    strong {
        font-size: 32px;
        color: #9747ff;
    }

    >p:first-child {
        margin-top: 150px;
    }
}

h1 {
    display: flex;
    z-index: 3;
    position: absolute;
    right: 100px;
    width: 426px;

    hr {
        border: 2px solid #1CDAE6;
        width: 100%;
        margin-right: -100px;
        align-self: center;
        margin-left: 32px;
    }

    >p {
        display: none;
    }
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 101px;

    >p {
        margin-top: 10px;
        text-align: center;
    }

    >img {
        transition-duration: 200ms;
    }

    >img:hover {
        transform: translateY(-12px);
    }
}

.contLearn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 101px;
    margin-top: 80px;
    position: relative;

    >div {
        position: absolute;
        width: 188px;
        height: 112px;
        background-color: white;
        border-radius: 20px;
        top: -121px;
        left: 6px;
        z-index: 4;
        display: none;

        >img {
            width: 32px;
            position: inherit;
            left: 30px;
        }

        >span {
            padding: 4px;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            text-align: center;
        }
    }

    >p {
        margin-top: 10px;
        text-align: center;
    }
}

.contLearnResponsive {
    display: none;
}

.contLearn:hover {
    >div {
        display: block;
    }

    >img {
        transition-duration: 200ms;
    }

    >img:hover {
        filter: invert(44%) brightness(210%);
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;

    >b {
        color: black;
        font-size: 12px;
    }

    >img {
        padding-top: 4px;
        height: 32px;
    }
}

a {
    background-color: #70E61C;
    color: white;
    height: 58px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-out;
    border: none;
    text-decoration: none;
    font-size: 23px;

    &:hover {
        transition: all 200ms ease-in;
        width: 240px;
        height: 64px;
        background-color: #9747ff;
    }
}

p {
    font-size: 16px;
}

@media screen and (max-width:1140px) {
    .contLearn {
        left: 161px;
    }
}

@media screen and (max-width:975px) {
    .skills {
        max-width: 350px;
    }

    h1 {
        width: 350px;
    }

}

@media screen and (max-width:914px) {
    section {
        width: 100%;
        padding-top: 120px;
        flex-direction: column;

        >div {
            order: 2;
            max-width: 100%;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 32px;
            min-height: 242px;
        }
    }

    .skills {
        align-self: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        h2 {
            font-size: 24px;
            text-align: center;
        }

        strong {
            font-size: 24px;
        }

        p {
            text-align: center;
        }
    }

    .hero {
        display: none;
    }

    h1 {
        order: 1;
        font-size: 45px;
        padding-left: 24px;
        padding-right: 24px;
        position: static;
        flex-direction: column;
        width: 100%;
        gap: 32px;
        padding-bottom: 32px;

        >p {
            display: block;
            padding-right: 32px;
            font-weight: 400;
        }

        hr {
            position: absolute;
            margin-right: 0;
            margin-left: 275px;
            top: 152px;
        }
    }

    .myJourney {
        display: none;
    }

    .icons {
        justify-content: center;
        max-height: none;
    }

    .contLearn {
        display: none;
    }

    .contLearnResponsive {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 88px;
        height: 101px;

        >div {
            position: absolute;
            width: 128px;
            height: 122px;
            background-color: white;
            border-radius: 20px;
            top: -134px;
            left: 5px;
            z-index: 4;
            display: none;

            >img {
                width: 32px;
                position: inherit;
                left: 30px;
            }

            >span {
                padding: 4px;
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 14px;
                text-align: center;
            }
        }

        >img {
            filter: invert(12%) brightness(72%) contrast(200%) hue-rotate(82deg);
        }

        >p {
            margin-top: 10px;
            text-align: center;
        }
    }

    .contLearnResponsive:hover {
        >div {
            display: block;
        }

        >img {
            transition-duration: 200ms;
        }

        >img:hover {
            filter: invert(44%) brightness(210%);
        }
    }

    .blueShadow {
        top: 850px;
        opacity: 0.65;
    }

    .blueShadow.active {
        right: -550px;
    }
}

@media screen and (max-width:510px) {
    .icons {
        gap: 39px;
    }
}


@media screen and (min-height: 1700px),
screen and (min-width: 1921px) {
    .hero {
        height: 420px;
    }
}