<section #contact class="secPad">
    <app-confirmation [visible]="showConfirmation"></app-confirmation>

    <aside id="contact"></aside>
    <img #purpleShadow class="purpleShadow" src="../../assets/img/background/shadow8.png">

    @if (portData.lang == "en") {
    <h1 data-aos="fade-down-left">Contact
        <hr>
    </h1>
    } @else {
    <h1 data-aos="fade-down-left">Kontakt
        <hr>
    </h1>
    }

    <div>
        <div>
            @if (portData.lang == "en") {
            <h2 data-aos="fade-right">
                <hr>Got a problem to solve?
            </h2>

            <p>Contact me through this form, i am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.</p>

            <p>Need a Frontend developer?<b> Contact me!</b></p>
            } @else {
            <h2 data-aos="fade-right">
                <hr>Sie haben ein Problem zu lösen?
            </h2>

            <p>Kontaktieren sie mich über dieses Formular, ich freue mich darauf von ihnen zu hören, ihre Ideen
                kennenzulernen und mit meiner Arbeit zu ihren Projekten beizutragen.</p>

            <p>Sie brauchen einen Frontend Entwickler?<b> Konatkieren sie mich!</b></p>
            }
        </div>

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">


            <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" minlength="3" name="name"
                [ngClass]="{'redBorder': !name.valid && name.touched && !name.disabled}"
                [placeholder]="portData.lang == 'en' ? 'Your name' : 'Ihr Name'" required>

            <div class="inputImg">
                <img [ngClass]="{'show': name.valid && name.touched}" class="errorImg"
                    src="../../assets/img/icons/checkedInput.png">
                <img [ngClass]="{'show': !name.valid && name.touched && !name.disabled}" class="errorImg"
                    src="../../assets/img/icons/failedInput.png">
            </div>

            @if (!name.valid && name.touched && !name.disabled && portData.lang == "en") {
            <span class="error">Please enter a name</span>
            } @else if (!name.valid && name.touched && !name.disabled && portData.lang == "ger") {
            <span class="error">Bitte geben Sie einen Namen an</span>
            }


            <input #mail="ngModel" [(ngModel)]="contactData.email" type="email" name="email"
                [ngClass]="{'redBorder': !mail.valid && mail.touched && !mail.disabled}"
                [placeholder]="portData.lang == 'en' ? 'Your email' : 'Ihre Email-Adresse'" required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

            <div class="inputImg">
                <img [ngClass]="{'show': mail.valid && mail.touched}" class="errorImg"
                    src="../../assets/img/icons/checkedInput.png">
                <img [ngClass]="{'show': !mail.valid && mail.touched && !mail.disabled}" class="errorImg"
                    src="../../assets/img/icons/failedInput.png">
            </div>

            @if (!mail.valid && mail.touched && !mail.disabled && portData.lang == "en") {
            <span class="error">Please enter a valid email address</span>
            } @else if (!mail.valid && mail.touched && !mail.disabled && portData.lang == "ger") {
            <span class="error">Bitte geben Sie eine valide Email-Adresse ein</span>
            }


            <div class="inputImg textareaTop">
                <img [ngClass]="{'show': message.valid && message.touched}" class="errorImg"
                    src="../../assets/img/icons/checkedInput.png">
                <img [ngClass]="{'show': !message.valid && message.touched && !message.disabled}" class="errorImg"
                    src="../../assets/img/icons/failedInput.png">
            </div>

            <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="4" name="message"
                [ngClass]="{'redBorder': !message.valid && message.touched && !message.disabled}"
                [placeholder]="portData.lang == 'en' ? 'Your message' : 'Ihre Nachricht'" required></textarea>

            @if (!message.valid && message.touched && !message.disabled && portData.lang == "en") {
            <span class="error textareaMsg">Please enter a message</span>
            } @else if (!message.valid && message.touched && !message.disabled && portData.lang == "ger") {
            <span class="error textareaMsg">Bitte geben Sie eine Nachricht ein</span>
            }

            <div class="policyCheck">
                <label for="policy">
                    <input #policy="ngModel" [(ngModel)]="contactData.privacyPolicy" type="checkbox" id="policy"
                        name="contactData.privacyPolicy" required>

                    <img src="../../assets/img/icons/check_box_unchecked.png">
                    <img class="dNone" src="../../assets/img/icons/check_box_checked.png">
                    <span class="checkmark"></span>

                </label>

                <p>
                    @if (portData.lang == "en") {
                    I've read the <a [routerLink]="['/privacy']">privacy policy</a> and agree to the processing of my data as outlined
                    } @else {
                    Ich habe die <a  [routerLink]="['/privacy']">Datenschutzerklärung</a> gelesen und stimme der Verarbeitung ,meiner Daten wie
                    darin
                    beschrieben zu.
                    }
                </p>
            </div>

            @if (!policy.valid && policy.touched && !policy.disabled && portData.lang == "en" ||
            !privacyPolicy && portData.lang == "en") {
            <span class="error textareaMsg">Please accept the privacy policy</span>
            } @else if (!policy.valid && policy.touched && !policy.disabled && portData.lang == "ger" ||
            !privacyPolicy && portData.lang == "ger") {
            <span class="error textareaMsg">Bitte aktzeptieren sie die Datenschutzrichtlinien</span>
            }

            @if (portData.lang == "en") {
            <button [ngClass]="{'greyFilling': !policy.valid}">Send message :)</button>
            } @else {
            <button [ngClass]="{'greyFilling': !policy.valid}">Nachricht senden :)</button>
            }
        </form>

    </div>

</section>