section {
    height: calc(100vh - 109px);
    background-color: #141c2e;
    background-image: url(../../assets/img/background/shadow9.png);
    background-repeat: no-repeat;
    background-position: 80vw -6vh;
    background-size: 720px;

    >img {
        height: 750px;
        left: -18%;
        top: 10vh;
        position: absolute;
    }
}

.btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 200px;
    z-index: 2;

    a {
        background-color: #70E61C;
        color: white;
        height: 58px;
        width: 165px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 44px;
        transition: all 200ms ease-out;
        border: none;
    
        &:hover {
    
            transition: all 200ms ease-in;
            width: 180px;
            height: 64px;
            background-color: #9747ff;
        }
    }
}

p {
    rotate: -90deg;
    background-color: transparent;
    font-size: 64px;
    width: 213px;
    text-align: center;
    margin-right: -36px;
}

h1 {
    margin-block-start: -10px;
    margin-block-end: -16px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 213px;

    >h2 {
        font-size: 58px;
        color: #9747ff;
        font-weight: 400;
    }
}

.socialMedia {
    margin-left: -100px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    gap: 32px;
    z-index: 2;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 190px;
        height: 40px;

        img {
            height: 30px;
            cursor: pointer;
            transition: height 125ms ease-in-out;
        }
    
        img:hover {
            transition: height 125ms ease-in-out;
            height: 40px;
        }
    }

    hr {
        border: 2px solid #9747ff;
        width: 100px;
    }
}

.scroll {
    position: absolute;
    z-index: 2;
    bottom: 94px;
    right: 34px;
    rotate: 90deg;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        padding-top: 12px;
        rotate: -90deg;
    }

    span {
        font-size: 23px;
    }
}