<section class="sec-pad">

    <div class="index" id="index"></div>

    <img src="../../assets/img/background/shadow2.png">
    <div class="dGrid">

        @if (portData.lang == "en") {
        <div class="btnDiv">
            <div class="dFlexCenter">
                <p>I am</p>
                <div class="intro">
                    <h1>Alexander Hardtke</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <a class="dFlexCenter" href="#contact">Let's talk!</a>
        </div>

        } @else {
        <div class="btnDiv">
            <div class="dFlexCenter">
                <p>Ich bin</p>
                <div class="intro">
                    <h1>Alexander Hardtke</h1>
                    <h2>FRONTEND ENTWICKLER</h2>
                </div>
            </div>
            <a class="dFlexCenter" href="#contact">Reden wir!</a>
        </div>
        }

    </div>

    <div class="socialMedia">
        <hr>
        <div>
            <a href="https://github.com/AlexanderHardtke"><img src="../../assets/img/icons/github.png"></a>
            <a href="#contact"><img src="../../assets/img/icons/mail.png"></a>
            <a href="https://www.linkedin.com/in/alexander-hardtke-89b0172b9/"><img src="../../assets/img/icons/linkedIn.png"></a>
        </div>
    </div>

    <div class="scroll">
        <span>Scroll down</span>
        <img src="../../assets/img/icons/arrowDown.png">
    </div>

</section>