section {
    height: calc(100vh - 100px);
    background-image: url(../../assets/img/background/shadows1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-color: #141c2e;

    >img {
        left: 0;
        top: 38%;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
}

.btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: self-end;
    position: relative;
    top: 200px;
    z-index: 2;
}

p {
    rotate: -90deg;
    background-color: transparent;
    font-size: 64px;
}

h1 {
    font-size: 90px;
    margin-block-start: -10px;
    margin-block-end: -34px;
}

button {
    background-color: #70E61C;
    color: white;
    height: 58px;
    width: 165px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 44px;
    transition: all 250ms ease-out;

    &:hover {

        transition: all 250ms ease-in;
        width: 180px;
        height: 64px;
        background-color: #9747ff;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >h2 {
        font-size: 58px;
        color: #9747ff;
        margin-block-end: -4px;
        font-weight: 400;
    }
}

.socialMedia {
    margin-left: -100px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    gap: 32px;
    z-index: 2;

    >img {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    hr {
        border: 2px solid #9747ff;
        width: 100px;
    }
}

.scroll {
    position: absolute;
    z-index: 2;
    bottom: 104px;
    right: 34px;
    rotate: 90deg;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        padding-top: 12px;
        rotate: -90deg;
    }
}