<section class="sec-pad">

    <img src="../../assets/img/background/shadow2.png">
    <div class="dGrid">

        @if (portData.lang == "en") {
        <div class="btnDiv">
            <div class="dFlexCenter">
                <p>I am</p>
                <div class="intro">
                    <h1>Alexander Hardtke</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <button>Let's talk!</button>
        </div>

        } @else {
        <div class="btnDiv">
            <div class="dFlexCenter">
                <p>Ich bin</p>
                <div class="intro">
                    <h1>Alexander Hardtke</h1>
                    <h2>FRONTEND ENTWICKLER</h2>
                </div>
            </div>
            <button>Reden wir!</button>
        </div>
        }

    </div>

    <div class="socialMedia">
        <hr>
        <img src="../../assets/img/icons/github.png">
        <img src="../../assets/img/icons/mail.png">
        <img src="../../assets/img/icons/linkedIn.png">
        <span>{{ 'Alexander.Hardtke@gmail.com' }}</span>
    </div>

    <div class="scroll">
        <span>Scroll down</span>
        <img src="../../assets/img/icons/arrowDown.png">
    </div>

</section>