<section class="sec-pad">

    <div class="dGrid">
        <div class="btnDiv">
            <div class="dFlexCenter">
                <p>I am</p>
                <div class="intro">
                    <h1>Alex Hardtke</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <button>Let's talk!</button>
        </div>
    </div>

    <img src="../../assets/img/background/heroBackground.png">

    <div class="socialMedia">
        <hr>
        <img src="../../assets/img/icons/github.png">
        <img src="../../assets/img/icons/mail.png">
        <img src="../../assets/img/icons/linkedIn.png">
        <span>{{ 'Alexander.Hardtke@gmail.com' }}</span>
    </div>

    <div class="scroll">
        <span>Scroll down</span>
        <img src="../../assets/img/icons/arrowDown.png">
    </div>

</section>